<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <h2 class="footer-heading">Daniel Stanecki's Blog</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Daniel Stanecki</li><li><a class="u-email" href="mailto:staneckidaniel@gmail.com">staneckidaniel@gmail.com</a></li></ul>
      </div>

      <div class="footer-col footer-col-2"><ul class="social-media-list"><li><a href="https://github.com/dstanecki"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">dstanecki</span></a></li><li><a href="https://www.linkedin.com/in/daniel-stanecki"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#linkedin"></use></svg> <span class="username">daniel-stanecki</span></a></li></ul>
</div>

      <div class="footer-col footer-col-3">
        <p>
            {{ site.description | escape }}
            <span id="visitors">&nbsp;</span>
        </p>
        <script src="/assets/js/main.js"></script>
      </div>
    </div>

  </div>

</footer>